<!--投稿内容のリンク先-->
  <!--感想コメント作成-->
<%= form_with url: public_post_path(current_customer) do |f| %>
  <div class="mx-3 my-3 text-secondary">
    <%= f.text_area :content, rows: '8', style: "width:80%", id: "thoughtse_comment_textarea" %>
    <%= f.submit "感想コメント", class:"btn btn-outline-primary btn-sm" %>
  </div>
<% end %>
<!--特定投稿に紐づく感想コメント一覧-->
<% @thoughtse_comments.each do |thoughtse_comment| %>
  <%= thoughtse_comment.content %>
<% end %>