// bootstrap導入でstylesheetsフォルダ作成してapplication.scss作成、下記記述
$theme-colors: (
  "info": #a58f86,
  "success": #a8bf93,
  "danger": #eebbcb
);

@import '~bootstrap/scss/bootstrap';

html, body {
  background: linear-gradient(-90deg, #ffffff, #f0f0f0);
}

// 感想コメント一覧レイアウト整えのため追記
.thoughtse_comment_top {
  margin-top: 80px;
}

// ログイン画面のレイアウト整えのため追記
.log_in {
  max-width: 450px;
}

.pagination a,
.pagination a:hover {
  color: #6c757d !important;
}

.page-item.active .page-link {
  z-index: 3 !important;
  background-color: #f0f0f0 !important;
  border-color: #A1A1A1 !important;
}

.form-control {
  border-color: #6c757d !important;
}