<footer>
  <div class='container mt-5'>
    <div class='row border-bottom boder-secondary'>
      <div class='col-md-11 text-center'>
        <div class="row justify-content-center text-secondary">
        <%= link_to "@Strebook", root_path, class:"text-secondary" %>
        </div>
      </div>
    </div>
  </div>
</footer>